body {
  background: black;
  margin-top: 130px;
}

ul {
  background: white;
  padding-top: 20px;
}

.octodex {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

.octocat {
  width: 50%;
  list-style: none;
  margin: 5px 10px;
}

.octocat img {
  width: 95%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

span {
  color: grey;
  font-weight: bold;
  font-size: 16px;
}

a {
  color: black;
  font-weight: bold;
  font-size: 18px;
  text-decoration: none;
}

.image-footer {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.image-number {
  display: flex;
  color: lightgrey;
  font-weight: bold;
  font-size: 20px;
}

.image-number::before {
  content: "#";
}

.image-caption {
  display: flex;
  margin-left: 80px;
  margin-right: 80px;
}

.authors img {
  width: 30%;
}

ul .authors {
  margin-left: -1px;
}

.authors li {
  list-style: none;
}

.octocat .image-footer {
  justify-content: space-between;
  display: flex;
}
