body {
  background: black;
  margin-top: 140px;
  font-family: Arial Black;
}

ul {
  background: white;
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid lightgrey;
}

.octodex {
  display: flex;
  justify-content: center;
  position: relative;
  padding-left: 0;
}

.octocat {
  width: 45%;
  list-style: none;
  margin: 5px 10px;
}

.octocat img {
  display: flex;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

span {
  color: grey;
  font-weight: bold;
  font-size: 14px;
  margin: auto;
}

a {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-decoration: none;
}

.image-footer {
  display: flex;
  align-content: center;
  width: 100%;
}

.image-number {
  display: flex;
  margin-left: 0;
  margin-top: 20px;
  color: lightgrey;
  font-weight: bold;
  font-size: 20px;
}

.image-number::before {
  content: "#";
}

.image-caption {
  display: flex;
  justify-items: flex-end;
}

.image-caption span {
  display: flex;
  margin-top: 23px;
}

.image-caption a {
  display: flex;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 2px;
}

.authors li {
  display: flex;
  margin-top: -10px;
}

.authors li img {
  display: flex;
  max-width: 25px;
  max-height: 25px;
  border: 1px solid green;
  margin-right: 5px;
}
